@model Gerenciador_de_Produtos.Models.Agrupador

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Agrupador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Nome)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Nome)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Grupo)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Grupo)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.DesenvolvimentoId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.DesenvolvimentoId)</dd>

        <dt class="col-sm-2">Itens ERP</dt>
        <dd class="col-sm-10">
            @if (Model.AgrupadorItensERP != null && Model.AgrupadorItensERP.Any())
            {
                <ul>
                    @foreach (var ai in Model.AgrupadorItensERP)
                    {
                        <li>@ai.ItemERP.ERP</li>
                    }
                </ul>
            }
            else
            {
                <em class="text-muted">Nenhum Item ERP vinculado.</em>
            }
        </dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.AgrupadorPaiId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.AgrupadorPaiId)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Nivel)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Nivel)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Voltar</a>
</div>
