@model Gerenciador_de_Produtos.Models.ItemERP

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemERP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemERPIdOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemERPIdOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesenhoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesenhoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Revisao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Revisao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acabamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acabamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChapaAberta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChapaAberta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaSuperficial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaSuperficial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoLiquidoMetro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoLiquidoMetro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoBrutoMetro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoBrutoMetro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerimetroSolda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerimetroSolda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SRId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SRId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesenvolvimentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesenvolvimentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeDobras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeDobras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MateriaPrimaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MateriaPrimaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comprimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comprimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profundidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profundidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprimentoMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprimentoMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
