@model Gerenciador_de_Produtos.Models.Desenho

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Desenho</h4>
    <hr />
    <dl class="row">
        <!-- Novo campo Nome -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Revisao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Revisao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SolicitacaoAlteracaoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SolicitacaoAlteracaoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DesenhoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
