@model Gerenciador_de_Produtos.Models.Perfil

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desenho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desenho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSecao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaBruta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaBruta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaLiq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaLiq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaEq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaEq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sxt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sxt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sxb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sxb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ixy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ixy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Syl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Syl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Syr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Syr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.xl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.xl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.xr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.xr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.xo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.xo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.J)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.J)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ixe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ixe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sxet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sxet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sxeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sxeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lye)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Syel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Syel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Syer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Syer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.p1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.p1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.p2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.p2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.p3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.p3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SimetricoX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SimetricoX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SimetricoY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SimetricoY)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
